#slider {
  width: 50%;
  margin: 40px auto;
  padding: 15px 25px;
  background-color: $dark2-color;
  box-shadow: 0px 0px 5px #095a09, 0px 0px 8px #138b13;
  .slider-item {
    height: 250px;
    img {
      height: 250px;
      object-fit: cover;
    }
  }
  .slider-item-no-img {
    background-color: $dark1-color;
    border: 2.5px solid $secondary-color;
    border-collapse: collapse;
    h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $light-color;
      font-size: 18px;
      margin: 0;
    }
  }
}

@media only screen and (max-width: 1200px) {
  #slider {
    width: 65%;
    padding: 10px 15px;
    .slider-item {
      height: 200px;
      img {
        height: 200px;
        width: auto;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  #slider {
    width: 70%;
    padding: 15px;
    .slider-item {
      height: 175px;
      img {
        height: 175px;
      }
    }
    .slider-item-no-img {
      h3 {
        font-size: 16px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  #slider {
    width: 100%;
    padding: 15px 10px;
    .slider-item {
      height: 125px;
      img {
        height: 125px;
      }
    }
    .slider-item-no-img {
      h3 {
        font-size: 14px;
      }
    }
  }
}